<footer class="footer">
    <div class="container">
        <div class="row footer-row">
            <div class="col-6 col-lg-2">
                <img loading="lazy" src="{{ asset('img/lexus/logo.png') }}" alt="">
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <span class="nav__description">Специализированный <br>
                    автосервис ПИК</span>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <p class="copyright">© {{ 'now'|date('Y') }} / Все права защищены<br>
                    Не является публичной офертой
                </p>
            </div>
            <div class="col-6 col-lg-4">
                <div class="socials-wrapper">
                    <span class="socials__text">Мы в соц. сетях: </span>
                    <ul class="socials">
                        <li class="socials__item">
                            <a href="https://vk.com/wall532277388" target="__blank" class="socials__link"><i class="fab fa-vk" aria-hidden="true"></i></a>
                        </li>
                        <li class="socials__item d-none">
                            <a href="#" target="__blank" class="socials__link"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li class="socials__item">
                            <a href="https://www.youtube.com/channel/UCGcxF3E3mg1W7gQZj62nKtg" target="__blank" class="socials__link"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                <a class="footer__link" href="/sitemap">Карта сайта</a>
            </div>
        </div>
    </div>
</footer>