<li><a href="{{ path('home') }}">Главная</a></li>
<li><a href="/#priceListAnchor">Наши услуги</a>
    <ul class="mobile_submenu" role="menu" style="">
        <li><a href="/okleyka">Оклейка</a></li>
        <li><a href="/deteyling">Детейлинг</a></li>
        <li><a href="/shumoizolyaciya">Шумоизоляция</a></li>
        <li><a href="/Vinil">Винил</a></li>
    </ul>
</li>
<li><a href="{{ path('naschiraboty_index') }}">Наши работы</a></li>
<li><a href="/o-nas/">О нас</a></li>
<li><a href="{{ path('contacts') }}">Контакты</a></li>
