
{% if items|length > 0 %}
    <div class="block_promotions inner-menu__wrapper">

            <h2>Также мы делаем</h2>
            <div class="section-gallery">

                    <div class="uk-margin-medium-top uk-margin-medium-bottom gallery-slider uk-position-relative" >
                        <div tabindex="-1" data-uk-slider="" class="uk-slider uk-slider-container" uk-slider="autoplay: true; autoplay-interval: 3000">
                            <ul class="uk-slider-items uk-grid uk-child-width-1-5@l uk-child-width-1-4@m uk-child-width-1-1@s">
                                {% for item in items %}

                                    <li tabindex="-1" class="" style="order: 1;">
                                        <div class="post-slide post-slide__inner-menu_item d-flex align-items-center justify-content-center" {% if item.image is not null %} style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('/images/category_images/{{ item.image }}')" {% endif %}>
                                            <div class="post-review">
                                                <h3 class="post-title">
                                                    {% if item.realPath is not null %}
                                                    <a href="/{{ item.realPath }}"> {{ item.name }}</a>
                                                        {% else %}
                                                            <a href="#"> {{ item.name }}</a>
                                                    {% endif %}
                                                </h3>

                                            </div>
                                        </div>
                                    </li>


                                {% endfor %}
                            </ul>
                            <a class="uk-position-center-left uk-icon uk-slidenav-previous uk-slidenav" href="#" data-uk-slidenav-previous="" data-uk-slider-item="previous">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                            <a class="uk-position-center-right uk-icon uk-slidenav-next uk-slidenav" href="#" data-uk-slidenav-next="" data-uk-slider-item="next">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>

            </div>

    </div>

{% endif %}