<div class="about">
    <h2>Почему мы</h2>
    <ul>
        <li>Современная покрасочная камера</li>
        <li>Официальная пожизненная гарантия</li>
        <li>Честные фиксированные цены. Без навязанных услуг</li>
        <li>Удобное расположение - 3 автосервиса в разных округах москвы</li>
        <li>Опытные мастера со стажем более 10 лет</li>
        <li>100% попадание в цвет</li>
    </ul>
</div>