<div class="sub-price-action">
    <p>
        <strong>
            <span>&#128293;</span>
            <span>БЕСПЛАТНАЯ ДИАГНОСТИКА по 43 параметрам</span>
        </strong>.<br>
        <span>&#9940;</span>
        <i style="font-weight: lighter; margin-top: 5px;">Предложение действительно при первом обращении или ремонте в нашем автосервисе «Мицубиси Сервис».</i>
        <a target="_blank" href="{{ app.request.schemeAndHttpHost }}/free_diagnostics/">Подробнее</a>
    </p>
</div>