<div class="block_advantages-home">
    <div class="container container2">
        <h2>Наши преимущества</h2>
        <div class="block_advantages-home__wrapper d-flex justify-content-between flex-column flex-sm-row">
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-icon1.png') }}" class="hvr-grow" alt="Много лет на рынке"/>
                <span class="hvr-grow">С 2010 года на рынке</span>
            </div>
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-icon2.png') }}" class="hvr-grow" alt="Гарантия на все виды работ"/>
                <span class="hvr-grow">Гарантия на все виды работе</span>
            </div>
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-icon3.png') }}" class="hvr-grow" alt="Свое печатное производство"/>
                <span class="hvr-grow">Свое печатное производство</span>
            </div>
            <div class="block_advantages-home__item d-flex flex-column justify-content-center align-items-center">
                <img src="{{ asset('img/advantages-icon4.png') }}" class="hvr-grow" alt="Свой отдел дизайна"/>
                <span class="hvr-grow">Свой отдел дизайна</span>
            </div>
        </div>
        <h3>Почему мы?</h3>
        <div class="block_advantages-home__text">
            <p>
                Self made man - это то, как мы можем охарактеризовать нашу компанию. 12 лет назад мы начинали вдвоём в гараже, а сейчас наша команда насчитывает более 15 человек, творящих на северо-востоке Москвы в собственной студии, способной предложить весь спектр услуг от чашки ароматного кофе до воплощения мечты. Мы воспринимаем любой эксперимент как вызов. Дьявол кроется в деталях, поэтому мы считаем, что каждая мелочь имеет значение как в оклейке кузова автомобиля, уходе за авто и воплощение идей, так и небольших работ для добавление вашей машине уникальности! Мастера нашей студии легко справляются с любой задачей! У нас все заказчики становятся друзьями, и поэтому наш конгломерат с каждым днем растет.
            </p>
        </div>
    </div>
</div>