<div class="block-form">
    <div class="uk-background-secondary">
        <div class="uk-section uk-container">
            <h3 class="block-form__title">Заявка на просчет</h3>
            <p class="block-form__desc">Отправьте нам заявку с фото и получите просчет фиксированной стоимости ремонта вашего авто</p>
            <form action="#">
                <div class="uk-grid uk-grid-small" data-uk-grid="data-uk-grid">
                    <div class="uk-width-2-5@m"><input class="uk-input" type="text" placeholder="Ваш телефон" /></div>
                    <div class="uk-width-2-5@m"><select class="uk-select"><option value="">Выберите центр</option><option value="Техцентр на Дмитровке">Техцентр на Дмитровке</option><option value="Техцентр на Мичуринском">Техцентр на Мичуринском</option><option value="Техцентр на Севастопольском">Техцентр на Севастопольском</option></select></div>
                    <div class="uk-width-1-5@m"><input class="uk-button uk-button-default uk-width-1-1" type="submit" value="Отправить заявку" /></div>
                </div>
            </form>
        </div>
    </div>
</div>