<div class="block_instagram">
    <div class="container container2">
        <div class="block_instagram__wrapper d-flex flex-column justify-content-center align-items-center">
            <img src="{{ asset('img/our-instagram.png') }}" alt="">
            <a class="btn btn-legacy css115 font-text" data-action="linknew" href="https://www.instagram.com/styled.cc/" target="_blank">
            <img src="{{ asset('img/QR-instagram.png') }}" alt="https://www.instagram.com/styled.cc/">
            </a>
        </div>
    </div>
</div>