<div class="section-services">
    <div class="uk-background-secondary">
        <div class="uk-section uk-container">
            <div class="uk-position-relative">
                <h3 class="section-title"><span>Услуги</span></h3>
                <div class="services-list uk-grid uk-grid-small uk-child-width-1-4@m uk-child-width-1-2" data-uk-grid="data-uk-grid">
                    <div>
                        <div class="service-item">
                            <a class="service-item__link" href="/body_works/">
                                <div class="service-item__media"><img src="/assets/images/service-item-1.jpg" alt="Кузовной ремонт" /></div>
                                <div class="service-item__title"><span>Кузовной ремонт</span></div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="service-item">
                            <a class="service-item__link" href="/paint/local_paint/">
                                <div class="service-item__media"><img src="/assets/images/service-item-2.jpg" alt="Покраска кузова" /></div>
                                <div class="service-item__title"><span>Покраска кузова</span></div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="service-item">
                            <a class="service-item__link" href="/repair_indents/remov_indents_paint/">
                                <div class="service-item__media"><img src="/assets/images/service-item-3.jpg" alt="Удаление вмятин" /></div>
                                <div class="service-item__title"><span>Удаление вмятин</span></div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="service-item">
                            <a class="service-item__link" href="/remov_scratch/">
                                <div class="service-item__media"><img src="/assets/images/service-item-4.jpg" alt="Удаление царапин" /></div>
                                <div class="service-item__title"><span>Удаление царапин</span></div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="service-item">
                            <a class="service-item__link" href="/repair_glass/">
                                <div class="service-item__media"><img src="/assets/images/service-item-5.jpg" alt="Ремонт автостекол" /></div>
                                <div class="service-item__title"><span>Ремонт автостекол</span></div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="service-item">
                            <a class="service-item__link" href="/detailing/">
                                <div class="service-item__media"><img src="/assets/images/service-item-6.jpg" alt="Детейлинг" /></div>
                                <div class="service-item__title"><span>Детейлинг</span></div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="service-item">
                            <a class="service-item__link" href="/local_body_repair/">
                                <div class="service-item__media"><img src="/assets/images/service-item-7.jpg" alt="Локальный ремонт кузова" /></div>
                                <div class="service-item__title"><span>Локальный ремонт кузова</span></div>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="service-item">
                            <a class="service-item__link" href="/repair_chips_paint/">
                                <div class="service-item__media"><img src="/assets/images/service-item-8.jpg" alt="Ремонт и удаление сколов" /></div>
                                <div class="service-item__title"><span>Ремонт и удаление сколов</span></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>