{% extends('v2/base.html.twig') %}
{% block body %}
    <div class="uk-container">
        <div class="single-stock-item-wrapper">
            {{ include('v2/widget/special_offers_item.html.twig') }}
        </div>

    </div>
{% endblock %}