<div class="footer">
  <div class="container container2">
    <div class="row">
      <div class="col-lg-3 col-md-12">
          <div class="footer-logo"><a href="/"><img src="{{ asset('/img/logo.png') }}" alt="Автосервис Миракпп"></a></div>
          <div class="footer-copyright">
              © <?= date("Y") ?> Автосервис Mirakpp. <br>
              Все права защищены.
          </div>
      </div>
      <div class="col-lg-3 col-sm-6 footer-menu">
          <a href="/uslugi/polnaya-zamena-masla-v-akpp/">Полная замена масла в АКПП</a>
          <a href="/uslugi/chastichnaya-zamena-masla-v-akpp/">Частичная замена масла в АКПП</a>
          <a href="/uslugi/zamena-masla-v-mkpp/">Замена масла в МКПП</a>
          <a href="/uslugi/zamena-akpp/">Замена АКПП</a>
          <a href="/uslugi/adaptacziya-akpp/">Адаптация АКПП</a>
          <a href="/uslugi/zamena-kpp/">Замена КПП</a>
          <a href="/sitemap/">Карта сайта</a>
          <a href="/vakancies/">Вакансии</a>
      </div>
      <div class="col-lg-3 col-sm-6 footer-menu">
          <a href="/uslugi/remont-ruchki-akpp/">Ремонт ручки АКПП</a>
          <a href="/uslugi/remont-ebu-akpp/">Ремонт ЭБУ АКПП</a>
          <a href="/uslugi/zamena-solenoidov-akpp/">Замена соленоидов АКПП </a>
          <a href="/uslugi/remont-solenoidov-akpp/">Ремонт соленоидов АКПП</a>
          <a href="/uslugi/zamena-selektora-akpp/">Замена селектора АКПП</a>
          <a href="/uslugi/zamena-gidrotransformatora-akpp/">Замена гидротрансформатора АКПП</a>
          <a href="/uslugi/kompyuternaya-diagnostika/">Компьютерная диагностика АКПП</a>
          <a href="/uslugi/zamena-masla-v-akpp/">Замена масла в АКПП</a>
      </div>
      <div class="col-lg-3 col-sm-6 footer-menu">
          <a href="/uslugi/remont-selektora-akpp/">Ремонт селектора АКПП</a>
          <a href="/uslugi/zamena-gidroblocka-akpp/">Замена гидроблока АКПП</a>
          <a href="/uslugi/zamena-filtra-akpp/">Замена фильтра АКПП</a>
          <a href="/uslugi/diagnostika-akpp/">Диагностика АКПП</a>
          <a href="/uslugi/vosstanovlenie-akpp/">Восстановление АКПП</a>
          <a href="/uslugi/obsluzhivanie-akpp/">Обслуживание АКПП </a>
          <a href="/uslugi/zamena-korobki-na-kontraktnuyu/">Замена коробки </a>
          <a href="/uslugi/apparatnaya-zamena-masla-v-akpp/">Аппаратная замена масла в АКПП </a>
      </div>
    </div>
  </div>
</div>

