<div class="mobile_menu" id="mobile_menu">
    <div class="mobile_menu_logo">
        <img src="../img/logo.png" alt="logo">
    </div>
    <div class="mobile_menu_close">
        <button onclick="close_menu()">
            <img src="../img/close.svg" alt="X">
        </button>
    </div>
    <div class="mobile_menu_item menu_mobile_more_item">
        <div data-toggle="collapse" data-target="#button_more_menu">Услуги</div>
        <div id="button_more_menu" class="collapse">
            <a href="#">Раздел</a>
            <a href="#">Раздел</a>
            <a href="#">Раздел</a>
            <a href="#">Раздел</a>
            <a href="#">Раздел</a>
            <a href="#">Раздел</a>
            <a href="#">Раздел</a>
            <a href="#">Раздел</a>
            <a href="#">Раздел</a>
            <a href="#">Раздел</a>
        </div>
    </div>
    <div class="mobile_menu_item">
        <a href="#">Цены</a>
    </div>
    <div class="mobile_menu_item">
        <a href="#">Акции</a>
    </div>
    <div class="mobile_menu_item">
        <a href="#">Портфолио</a>
    </div>
    <div class="mobile_menu_item">
        <a href="#">О нас</a>
    </div>
    <div class="mobile_menu_item">
        <a href="#">Контакты</a>
    </div>
    <div class="mobile_menu_address_item">
        <div class="mobile_menu_address_item_title">Севастопольский</div>
        <span>Севастопольский пр. д. 95 б, стр 3</span>
        <a href="tel:74994441437">+7 (499) 444-14-37</a>
    </div>
    <div class="mobile_menu_address_item_line"></div>
    <div class="mobile_menu_address_item">
        <div class="mobile_menu_address_item_title">Калужская</div>
        <span>Научный проезд д.14а, стр.7</span>
        <a href="tel:74954773396">+7 (495) 477-33-96</a>
    </div>
    <div class="mobile_menu_address_item_line"></div>
    <div class="mobile_menu_address_item">
        <div class="mobile_menu_address_item_title">Дмитровка</div>
        <span>Лобненская д.17, стр.5</span>
        <a href="tel:74994507383">+7 (499) 450-73-83</a>
    </div>
    <div class="mobile_menu_address_item_line"></div>
    <div class="mobile_menu_address_item">
        <div class="mobile_menu_address_item_title">Удальцова</div>
        <span>Удальцова, д.60 стр.7</span>
        <a href="tel:74992880136">+7 (499) 288-01-36</a>
    </div>
</div>

<script>
    function close_menu(){
        $('#mobile_menu').css({'display':'none'});
    }
</script>