{% block breadcrumbs %}
<div class="container container2">
<div class="navigation">
  <div class="navigation_item_block">
    <div class="navigation_item">
      <a href="#">Кузовной ремонт</a>
      <span>⇆</span>
    </div>
    <div class="navigation_item">
      <a href="#">Покраска авто в Москве</a>
      <span>⇆</span>
    </div>
    <div class="navigation_item">
      Локальная покраска
    </div>
  </div>
  <div class="navigation_rating">
    <div class="stars">
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star on"></span>
      <span class="star half"></span>
    </div>
    <div class="navigation_rating_text">
      <span><b>4.8</b> из  5 (18 оценок)</span>
    </div>
  </div>
</div>
</div>
{% endblock %}