<section class="quote-section">
    <div class="quote">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7">
                    <h3 class="quote__heading">За время работы мы доказали, что для
                        нас не существует неразрешимых задач!</h3>
                    <p class="quote__text">ПИК – единственный сервисный центр в Санкт-Петербурге, который специализируется на выполнении сложного ремонта {% if page.priceBrand.name is defined and page.priceBrand.name is not empty %}{{ page.priceBrand.name }}{% else %}авто{% endif%} всех моделей. Беремся даже за самый сложный ремонт, <br>
                        от которого в большинстве случаев отказываются другие.
                        На нашем складе вы сможете найти любую запчасть, начиная
                        от мелких технических, заканчивая кузовными.</p>
                    <div class="quote__author">
                        <div class="quote__who">
                            Директор    <br>
                            Автосервис ПИК
                        </div>
                        <div class="quote__sign">
                            <img loading="lazy" src="/img/sign.png" alt="">
                        </div>
                        <div class="quote__author-name">
                            Богданов    <br>
                            Константин Олегович
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 quote-photo">
                    <div class="quote__author-photo">
                        <img loading="lazy" src="/img/quote.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>