<div class="video-background">
  <div class="video">
    <video muted="" autoplay="" loop="" preload="auto" class="lazy loaded" data-was-processed="true">
      <source type="video/mp4" src="../video/video.mp4">
    </video>
  </div>
  <div class="video-background-content">
    <h1 class="video-background-content-title">Ремонт АКПП от профессионалов в Москве</h1>
    <div class="video-background-content-body">
      <h1>Ремонт АКПП от профессионалов в Москве</h1>
      <h3>Сервис положительных эмоций</h3>
      <div class="container  utp-wrap">
        <div class="row utp">
          <span class="col-md-6"><img src="../img/tick.png" alt="img">Свой цех по ремонту КПП</span>
          <span class="col-md-6"><img src="../img/tick.png" alt="img">Работаем с Юр. Лицами</span>
          <span class="col-md-6"><img src="../img/tick.png" alt="img">Доставка авто или КПП на эвакуаторе</span>
          <span class="col-md-6"><img src="../img/tick.png" alt="img">Гарантия на работу от 1 года</span>
        </div>
      </div>
      <h4>Ремонт АКПП от профессионалов в Москве</h4>
      <div class="video-background-content-body-button">
        <button class="color_red_border_button" type="button" data-title="ДИАГНОСТИКА" data-toggle="modal" data-target="#callback_popup">ДИАГНОСТИКА</button>
        <button class="color_red_border_button button-center" type="button" data-title="ЗАПИСЬ НА РЕМОНТ / ТО" data-toggle="modal" data-target="#callback_popup">ЗАПИСЬ НА РЕМОНТ / ТО</button>
        <button class="color_red_border_button" type="button" data-title="ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ" data-toggle="modal" data-target="#callback_popup">ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ</button>
      </div>
    </div>
  </div>
</div>
