<div class="instagram_widget">
    <h2>Наши работы</h2>
{#<script src="https://apps.elfsight.com/p/platform.js" defer=""></script>
<div class="elfsight-app-79336852-6ea9-4a14-9312-45d9756bf279"></div>#}
</div>