<section class="video-line">
    <h2 style="text-align: center;">Смотрите наш видео-блог</h2>
    <p style="text-align: center;">Только интересная и полезная информация для любителей infiniti:
        обзоры ремонтов, рекомендации, жизнь автоцентра и пр.</p>
    <div class="video-line__wrapper container">
        <div class="row">
{% for item in video %}
    {% if loop.index <= 3 %}
            <div class="col-md-4 col-sm-6 col-12 video-line__elem">
                <iframe width="560" height="275" src="{{ item.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
{% endif %}
      {% endfor %}

        </div>
        <a  style="margin-top: 50px; text-transform: uppercase; display: inline-block;" href="https://www.youtube.com/channel/UCAPwbGHF3yucL_qZl1u3Lvw" class="rey_button_standart">Открыть канал youtube</a>

    </div>
</section>