<section class="youtube_block_1">
    <div class="container">
        <h2>Примеры наших работ</h2>
        <p>Только интересная и полезная информация для любителей <span style="text-transform: uppercase">мерседес:</span><br>
            обзоры ремонтов, рекомендации, жизнь автоцентра и пр.</p>
        <div class="youtube_block_1__video_wrapper">
            <div class="big__video">
                <iframe width="611" height="326" src="https://www.youtube.com/embed/mzBhy9Fp4m4?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="small__videos">
                <iframe width="200" height="168" src="https://www.youtube.com/embed/RWQ0bgPqJcQ?start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="200" height="168" src="https://www.youtube.com/embed/RWQ0bgPqJcQ?start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="200" height="168" src="https://www.youtube.com/embed/RWQ0bgPqJcQ?start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="200" height="168" src="https://www.youtube.com/embed/RWQ0bgPqJcQ?start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="200" height="168" src="https://www.youtube.com/embed/RWQ0bgPqJcQ?start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="200" height="168" src="https://www.youtube.com/embed/RWQ0bgPqJcQ?start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <a href="javascript:PopUp2Show()" class="btn btn_big popup-link _mPS2id-h mPS2id-highlight mPS2id-highlight-last"><span>Записаться на ремонт</span></a>
    </div>
</section>