<div class="section-services">
    <div class="uk-background-secondary">
        <div class="uk-section uk-container">
            <div class="uk-position-relative">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>