{% extends '@EasyAdmin/page/blank.html.twig' %}

{% block content %}
    <div class="content py-3">
        <div class="container-fluid">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Скачать!</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}