{% extends 'v2/base.html.twig' %}

{% block body %}
    <div class="uk-container">
        <h2>{{ page.name }}</h2>
        {% for item in pagination %}
            {% include 'v2/widget/video.html.twig' with { item: item } %}
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
